.c-input-search__input
  border: 0
  outline: none
  font-size: 35px
  font-weight: bold
  line-height: 50px
  padding: 0
  width: 100%

.c-search-box
  margin: 1em 0
  border: 1px solid #333
  border-radius: 5px
  overflow: hidden

.c-suggestion-box
  background-color: white
  padding: 0 10px

.c-suggestion-box__group
  padding: 10px 0
