$c-thumbnail-shadow-border-radius: 2px

.c-thumbnail
  background-color: $grey1
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset
  width: 170px
  height: 200px
  cursor: pointer
  +deepness

.c-thumbnail--button
  background-color: $lightSea
  border-color: $darkSea
  color: $white
  &::after
    background-color: $darkSea

.c-thumbnail--empty
  background-color: fade-out($grey3, 0.8)
  border-radius: 2px
  border: 2px dashed $grey4
  cursor: auto
  &::after
    display: none

.c-thumbnail__title
  text-align: center

.c-thumbnail__subtitle
  +fontMedium12
  color: $grey4

.c-thumbnail__icon
  width: 50px
  height: 50px
  stroke: $darkSea
  fill: $darkSea

.c-thumbnail__options
  cursor: pointer

// prototype
.c-thumbnail__tag
  border-radius: 50%
  border: 2px solid white
  width: 10px
  height: 10px

.c-thumbnail__tag--label
  background-color: $green

.c-thumbnail__tag--people
  background-color: $yellow
