.o-floated-br
  position: absolute
  bottom: 0
  right: 0
  z-index: $zIndex--floated-element

.o-floated-bc
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  right: 0
  z-index: $zIndex--floated-element

.o-floated-tl
  position: absolute
  top: 0
  left: 0

.o-floated
  position: absolute
