@import _settings.variables
@import _generic.reset
@import _generic.normalise
@import _objects
@import _components

.u-scrollable
  overflow: scroll

.a-fade-leave
  opacity: 1
  position: relative
  transition: all .3s ease-in
  right: 0

  &.a-fade-leave-active
    opacity: 0.01
    right: 100px

.a-fade-enter
  opacity: 0.01
  position: relative
  transition: all .3s ease-in
  right: 100px

  &.a-fade-enter-active
    opacity: 1
    right: 0
